.input-container {
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: center;
}

.primary-btn{
  height: 30px;
  width: 60px;
  cursor: pointer;
  transition: ease 0.3s;
}
.primary-btn:hover {
  background-color: #D3D3D3;
  transition: ease 0.3s;
}

.input {
  height: 30px;
  width: 200px;
  margin-right: 20px;
}

.textarea {
  height: 30px;
  width: 300px;
  margin-right: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
}

.status-box {
  margin-top: 50px;
  height: 800px;
}

.in-progress-box {
  border-right: 1px #737373 solid;
  border-left: 1px #737373 solid;
}

.status-label {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.not-started-item {
  width: 80%;
  margin: 0 auto 20px auto;
  background-color: #73737345;
  border: 1px #737373 solid;
  padding: 5px;
  border-radius: 5px;
}

.in-progress-item {
  width: 80%;
  background-color: #5271ff45;
  border: 1px #5271ff solid;
  margin: 0 auto 20px auto;
  padding: 5px;
  border-radius: 5px;
}

.completed-item{
  width: 80%;
  background-color: #00bf6345;
  border: 1px #00bf63 solid;
  margin: 0 auto 20px auto;
  padding: 5px;
  border-radius: 5px;
}